<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllProducts</servlet-name>
        <servlet-class>controladores.ControllProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllProductoDetalle</servlet-name>
        <servlet-class>controladores.ControllProductoDetalle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuariosServlet</servlet-name>
        <servlet-class>servlet.RegistroUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaUsers</servlet-name>
        <servlet-class>servlet.ModificaUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllProducts</servlet-name>
        <url-pattern>/ControllProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllProductoDetalle</servlet-name>
        <url-pattern>/ControllProductoDetalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuariosServlet</servlet-name>
        <url-pattern>/RegistroUsuariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaUsers</servlet-name>
        <url-pattern>/ModificaUsers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
