@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 50%;
    height: 80%;
    float: left;
    margin: 30px;
}
.card_comp{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 380px;
    height: 500px;
    float: left;
    margin: 30px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 10px 30px;

}

#ic_prod {
    border-radius: 5px 5px 0 0;
    width: 100px;
    height: 100px;
    margin: auto; 
    display: block
}

/*CSS image carrusel*/

.banner_fluid {
/*    padding-left:0;
    padding-right:0;*/
}

.carousel-control {
/*    position: absolute;
    top: 50%;  pushes the icon in the middle of the height 
    z-index: 5;
    display: inline-block;*/
}

.carousel-control {
/*    position: absolute;
    top: 50%;  pushes the icon in the middle of the height 
    z-index: 5;
    display: inline-block;*/
}
.carousel-indicators li {
/*    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 10%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    */
}
.carousel-indicators .active {
/*    width: 48px;
    height: 48px;
    margin: 10px;
    background-color: #ffff99;*/
}

.box{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}